# Dred-Node DNS name
DOMAIN=example.com

# Cardano Network {mainnet,preprod,preview}
CARDANO_NETWORK=preprod

# Blockfrost API Key (Blockfrost PROJECT ID)
# must match the selected CARDANO_NETWORK.
BF_API_KEY=preprodEx4mP13pR0j3c71d...

# Optional Dockerimage Build Argument
GIT_BRANCH= # (main = default)

# Your dred node's unique identifier:
DRED_NODE_ID=dredNode-XXXXYYYYZZZZ

# Status update interval in seconds
STATUS_INTERVAL_SECONDS=60

# Dred Server listen on all interfaces (for Docker)
LISTEN_ADDRESS=0.0.0.0